@font-face {
font-family: Lobster-Regular;
src: url(fonts/Lobster-Regular.ttf);
}

* {
padding: 0;
margin: 0;
}

body {
font-family: Arial, sans-serif;
font-size: 16px;
line-height: 1.4;
color: #444;
}

#header {
margin: 0 auto;
height: 48px;
width: 100%;
padding: 10px 0 0 0;
background: #ffffff;
border-bottom: 1px solid #0099cc;
}

#wrapper {
position: static;
margin: 0 0 0 40px;
width: 800px;
}

#footer {
margin: 0 auto;
width: 800px;
height: 100px;
}

#region-01 {
float: left;
width: 250px;
height: 100%;
padding: 10px 0 0 0;
}

#region-02 {
float: right;
width: 490px;
padding: 60px 60px 60px 0px;
}

.avatar {
border-radius: 50%;
width: 130px;
height: 130px;
margin: 40px 0 0 30px;
padding: 8px;
border: 0px solid #0099cc;
}

.title-01 {
font-family: Lobster-Regular;
font-size: 28px;
color: #0099cc;
padding: 0 0 0 40px;
}

.title-02 {
font-family: Lobster-Regular;
font-size: 20px;
color: #0099cc;
margin: 40px 0 20px 15px;
}

.title-03 {
margin: 0 0 0 15px;
}

.title-04 {
font-family: Arial, sans-serif;
font-size: 24px;
line-height: 1.4;
color: #444;
margin: 30px 0 0px 40px;
}
