@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

* {
padding: 0;
margin: 0;
}

body {
font-family: Arial, sans-serif;
font-size: 16px;
line-height: 1.4;
color: #444;
}

#header {
height: 80px;
border-bottom: 1px #e6e6e6 solid;
background: #fafafa;
}

#wrapper {
margin: 0 auto;
width: 780px;
}

#region-01 {
float: left;
width: 260px;
padding: 70px 0 0 0;
}

#region-02 {
float: left;
width: 520px;
padding: 90px 0 0 0;
}

.avatar {
border-radius: 50%;
width: 140px;
height: 140px;
margin: 0 0 0 40px;
}

.title-01 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 22px;
line-height: 1.4;
color: #0099cc;
margin: 40px 20px 0px 40px;
}

.title-02 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 22px;
color: #0099cc;
margin: 40px 20px 20px 20px;
}

.title-03 {
margin: 0 20px 0 20px;
}
